.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
               }

.move-icon {
     width: 64px;
     height: 64px;
     border-radius: 64px;
     object-fit: cover;
     border: 3px solid red;
     cursor: move;
           }

  .close-button {
     width: 50px;
     height: 30px;
     cursor: pointer;
                }
  .window {
     border:thick double;
     width: 720px;
     color:red;
     border-radius:64px;
     padding:16px;
     position: absolute;
     top: 65%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color:#1C1C1C;
  }