.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
  padding: 12px 16px;
  box-sizing: border-box; 
               }

.move-icon {
     width: 45px;
     height: 45px;
     border-radius: 50%;
     object-fit: cover;
     border: 2px solid red;
     cursor: move;
           }

  .close-button {
     width: 45px;
     height: 45px;
     object-fit: contain;
     cursor: pointer;
                }
  .window {
     border:thick double;
     width: 720px;
     color:red;
     border-radius:64px;
     overflow: hidden;
     position: absolute;
     top: 65%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: rgba(28, 28, 28, 0.45);
     backdrop-filter: blur(15px);
   }
   .window > *:not(.window-header) {
  margin-left: 16px;
  margin-right: 16px;
                  }  

  .selected {
    background-color: rgba(255, 255, 255, 0.3); /* Subtle glass highlight */
    border-radius: 12px;
    outline: 2px solid #fff;
   }